@model List<Destination>


<div class="PostContainer mx-auto w-50">
    <div class="d-flex justify-content-between align-items-center">
        <a href="/create/destination/form" class="btn btn-primary mx-auto mb-4">Make a post!</a>
    </div>
    @foreach (Destination item in Model)
    {
        <div class="Post mb-5 p-3">
            <div class="img_map d-flex justify-content-between mb-3">
                @if(item.Image.Length > 3)
                {
                    <img src="~/uploads/@item.Image" style="width: 300px;" alt="@item.Image">
                }
                <div class="location">
                    <iframe
                        width="275"
                        height="225"
                        style="border:0"
                        loading="lazy"
                        allowfullscreen
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC---njpOqPkCYvMRYE-MxexQWdqC_s_h4
                        &q=@item.Query()">
                    </iframe>
                    <h4 class="word-wrap">@item.Place()</h4>
                </div>
                
            </div>
            <h5><a href="/user/@item.Creator.UserId">@item.Creator.Username</a></h5>
            <h6>@item.DestinationMessage</h6>
        </div>
    }
</div>