@model List<Destination>

<div class="PostContainer mx-auto w-50">
    @foreach (Destination item in Model)
    {
        <div class="Post border mb-5 p-3">
            <h3>@item.Place()</h3>
            <h4>@item.DestinationMessage</h4>
            <h5>@item.Creator.Username</h5>
            @* @if(item.Image != null)
            {
                <img src="@item.Image" alt="noimg">
            } *@
            <!-- Need to find a way to use google maps to geolocate (statically) -->
        </div>
    }
</div>


<a href="/create/destination/form">Create a Destination here!</a>