@if (ViewBag.User.UserId == Context.Session.GetInt32("id"))
{
        <a href="/edit/user/@ViewBag.User.UserId"> <button class="btn btn-primary mt-2"> Edit profile</button></a>
} 
else if (ViewBag.Friend == null)
{
    <form asp-controller="User" asp-action="SendFriendRequest" asp-route-pid="@ViewBag.User.UserId" method="post">
        <button class="btn btn-success">Add Friend</button>
    </form>
} 
else if ((ViewBag.Friend.UserOneId == Context.Session.GetInt32("id") && ViewBag.Friend.Relationship == "Friends") || (ViewBag.Friend.UserTwoId == Context.Session.GetInt32("id") && ViewBag.Friend.Relationship == "Friends"))
{
    <form asp-controller="User" asp-action="CancelRequest" asp-route-pid=@ViewBag.User.UserId method="post">
        <button class="btn btn-danger">Remove Friend</button>
    </form>
} else if (ViewBag.Friend.UserOneId == Context.Session.GetInt32("id"))
{
    <form asp-controller="User" asp-action="CancelRequest" asp-route-pid="@ViewBag.User.UserId" method="post">
        <button class="btn btn-danger">Cancel Request</button>
    </form>
}
else {
    <form asp-controller="User" asp-action="AcceptRequest" asp-route-pid="@ViewBag.User.UserId" method="post">
        <button class="btn btn-success">Accept Request</button>
    </form>
}