@if (ViewBag.User.UserId == Context.Session.GetInt32("id"))
{
    @if (ViewBag.ListOfFriends.Count > 0) {
        <div class="friends mb-4">
            <h1>Friends:</h1>
            @foreach (Friend item in ViewBag.ListOfFriends)
            {
                @if (item.UserOneId == Context.Session.GetInt32("id"))
                {
                    <a href="/user/@item.UserTwoId">@item.UserTwo.Username</a>
                } else
                {
                    <a href="/user/@item.UserOneId">@item.UserOne.Username</a>
                }
            }
        </div>
    }
}