@model LoginUser
<form asp-controller="User" asp-action="UserLogin" method="post">
    <h1>Login</h1>
    <div>
        <div class="Validation">
            <label asp-for="LoginUsername"></label>
            <span style="color: red;" asp-validation-for="LoginUsername"></span>
        </div>
        <input class="form-control" asp-for="LoginUsername">
    </div>
    <div>
        <div class="Validation">
            <label asp-for="LoginPassword"></label>
            <span style="color: red;"  asp-validation-for="LoginPassword"></span>
        </div>
        <input class="form-control" asp-for="LoginPassword">
    </div>
    <button class="btn btn-primary mt-4">Login</button>
</form>