@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: linear-gradient(#ff6f91, #ff9fb5);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profilepicsignedin {
  border-radius: 50%;
  width: 150px;
}

.btn-primary {
  color: #fff;
  background-color: #ff83a0;
  border-color: #fc819e;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ff7595;
  border-color: #fc819e;
}

.Post {
  background-color: #FF884B;
  border: 1px solid #fe925c;
}

.h-test {
  height: 470px;
}