html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profilepicsignedin {
  border-radius: 50%;
  width: 150px;
}

.Post {
  background-color: rgba(231, 208, 253, 0.637);

}