@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #e5e5e5;
}

body {
  margin-bottom: 60px;
  background-image: linear-gradient(#2C3639, #3F4E4F);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.profilepicsignedin {
  border-radius: 50%;
  width: 150px;
}

.btn-primary {
  color: #fff;
  background-color: #A27B5C;
  border-color: #3F4E4F;
}

.btn-primary:hover {
  color: black;
  background-color: #DCD7C9;
  border-color: #4c5354;
}

.btn-danger {
  background-color: #b12836;
  /* border-color: #3F4E4F; */
}

.btn-danger:hover {
  background-color: #e14d5c;
}

.btn-success {
  background-color: #16603d;
  border-color: #3F4E4F;
}

.Post {
  background-color: #A27B5C;
  border: 1px solid #DCD7C9;
  color: #3F4E4F;
}

.location a {
  text-decoration: none;
  color: #3F4E4F;

}

.location h6 {
  margin-left: 15px;
}

.h-test {
  height: 470px;
}